$header-color: #9ca3af;
$max-width: 1246px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  //max-width: 100%;
  color: #fff;
  background-color: var(--grey-blue);
  border-top: 1px solid var(--secondary-text);
}

section {
  max-width: $max-width;
  padding-inline: 1rem;
}

hr {
  max-width: $max-width;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  //column-gap: 5rem;

  .col {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-grow: 0;

    h3:first-child {
      color: $header-color;
      font-weight: 500;
    }

    h3 {
      margin-bottom: 0;
      line-height: 2.5;
    }
  }

  .lang-option {
    mat-form-field {
      div {
        border: none;
        padding: 0;
      }

      mat-label {
        color: $header-color;
      }
    }
  }
}

.subscriptions {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;

  .paragraph {
    max-width: 600px;

    h3:first-child {
      color: $header-color;
    }
  }

  .form-field {
    mat-form-field {
      width: 300px;

      mat-label {
        color: $header-color;
      }

    }

    button {
      margin-left: 1rem;
      line-height: 2.3;
    }

    h3 {
      font-size: 14px;
      margin-top: 1rem;

      a {
        text-decoration-line: underline;
      }
    }
  }

}

.copyrights {
  color: $header-color;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  column-gap: .5rem;

  h3 {
    margin: 0;
    flex: 1;
  }

  img {
    width: 24px;
    aspect-ratio: 1;
  }
}

.wayflyer-footer-icon {
  display: flex;
  justify-content: center;
}


@media (max-width: 992px) {
  .services {
    flex-wrap: wrap;

    .col {
      flex-basis: 25%;
    }

    .lang-option {
      flex-basis: 100%;
    }
  }

  .subscriptions {
    flex-direction: column;

    .paragraph,
    .form-field {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .services {
    .col:not(.lang-option) {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 480px) {

}
