:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin green-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-weight: 500;

  mat-icon {
    transition: .3s;
  }

  &:hover {
    mat-icon {
      padding-left: 8px
    }
  }
}

.mp-intro {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-image: url("../../../assets/svg/team-arrow.svg");
  //background-position: center;
  //background-size: contain;
  //background-repeat: no-repeat;

  .mp-call-out {
    @include green-link;
    margin: 1rem;
    width: fit-content;
    padding: 4px 8px;
    background-color: var(--secondary);
    border-radius: 14px;
    flex-wrap: wrap;

    button {
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: 14px;
      background-color: var(--primary);
      color: var(--secondary);
      font-weight: bold;
      cursor: inherit;
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  > h1 {
    margin-top: 2rem;
    font-size: clamp(1.8rem, 8vw, 3.5rem);
    line-height: 1;
    font-weight: bold;
    text-align: center;
  }

  > p {
    font-size: 20px;
    margin-top: 2rem;
    margin-inline: .5rem;
    color: var(--secondary-text);
    text-align: center;
    max-width: 800px;
    line-height: 1.3;
  }

  .contact-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    a {
      font-size: 20px;
      padding: .5rem 1.5rem;

      &.contact-sales {
        color: var(--primary);
      }
    }
  }
}

.our-team {
  margin-top: 2rem;
  display: flex;
  column-gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    img {
      border-radius: .5rem;
      object-fit: cover;
    }
  }

  .team-1 {
    margin-top: 1.5rem;

    img:first-child {
      width: 200px;
      height: 100px;
    }

    img:last-child {
      width: 116px;
      height: 74px;
      margin-left: auto;
    }
  }

  .team-2 {
    img {
      width: 385px;
      height: 236px;
    }

    a {
      @include green-link;
      align-self: flex-start;
    }
  }

  .team-3 {
    margin-top: 1.5rem;

    img:first-child {
      width: 116px;
      height: 74px;
    }

    img:last-child {
      width: 200px;
      height: 100px;
    }
  }
}

.customers {
  margin-top: 2rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  img {
    width: 116px;
    height: 30px;
  }
}

.global-ecommerce {
  margin-top: 4rem;

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  mat-card {
    margin-top: 2rem;
    margin-inline: .5rem;
    display: flex;
    gap: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  div {
    .title {
      text-align: center;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: bold;
      color: var(--primary);
    }

    .description {
      font-size: 1.2rem;
      text-align: center;
      color: var(--secondary-text);
    }
  }
}

.our-solutions {
  margin-top: 4rem;

  > .title {
    color: var(--primary);
    text-align: center;
  }

  h2 {
    margin-inline: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    margin-inline: 0.5rem;
    color: var(--secondary-text);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }

  .funding-insights {
    margin-top: 4rem;
    margin-inline: .5rem;
    display: flex;
    justify-content: center;
    gap: 3rem 4rem;

    > div {
      position: relative;
      width: min(100%, 384px);
      padding: 1.5rem;
      background-color: var(--secondary-bg);
      border-radius: .5rem;

      > mat-icon {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        background-color: var(--primary-bg);
        color: white;
        border-radius: .5rem;
      }

      .title {
        font-size: 1.2rem;
        font-weight: 500;
      }

      .description {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: var(--secondary-text);
        text-align: justify;
      }

      a {
        @include green-link;
        margin-top: .5rem;
      }
    }
  }
}

.co-founder-description {
  margin-top: 8rem;
  padding-inline: 1rem;
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  height: 300px;
  width: var(--max-width);
  font-weight: 500;

  > img {
    position: relative;
    top: -80px;
    width: 384px;
    height: 464px;
    border-radius: 12px;
  }

  .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;

    em {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    p {
      font-size: 1rem;
    }

    .co-founder-name {
      margin-top: 1.5rem;
      margin-bottom: 0;
      line-height: 2rem;
    }
  }
}

.wayflyer-description {
  margin-top: 16rem;
  text-align: center;

  h1,
  h2 {
    margin-inline: .5rem;
  }


  h1 {
    margin-bottom: 0;
  }

  h2 {
    color: var(--secondary-text);
  }
}

.our-platforms {
  margin-top: 4rem;
  margin-inline: 1rem;
  display: flex;

  .paragraphs {

    h1 {
      font-weight: bold;
      font-size: 30px;
    }

    h1 + h2 {
      color: var(--secondary-text);
      margin-bottom: 2rem;
      font-size: 18px;
    }

    h2 {
      margin-bottom: .5rem;
    }

    h3 {
      color: var(--secondary-text);
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }

  img {
    padding: .5rem;
  }
}

.accelerate-growth {
  justify-content: end;

  > img {
    margin: 0 auto;
  }

  .paragraphs {
    flex-basis: 50%;
  }
}

.geology {
  margin-top: 4rem;
  text-align: center;

  > img {
    margin: 1rem;
  }

  > h1 {
    width: 768px;
    font-weight: 500;
    color: #363636;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 1rem;
      width: 40px;
      aspect-ratio: 1;
    }

    h3 {
      margin: 0;
    }

    .divider {
      color: var(--primary);
      font-size: 2rem;
      margin: .3rem;
    }

    .co-founder {
      color: var(--secondary-text);
    }
  }
}

.latest-updates {
  margin-top: 8rem;
  margin-inline: clamp(-8rem, 1200px - 100vw, 1rem);

  > h1,
  > h2 {
    text-align: center;
  }

  > h1 {
    margin: 0;
  }

  > h2 {
    color: var(--secondary-text);
    margin-inline: 1rem;
    margin-bottom: 3rem;
  }

  .collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem 1rem;

    .collection {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px 4px rgba(0, 0, 0, 0.05);

      .paragraph {
        display: flex;
        flex-direction: column;
        margin: 1rem;

        .title {
          margin-top: .5rem;
          margin-bottom: .7rem;
          color: var(--primary);
        }

        h2 {
          margin-bottom: 1rem;
        }

        h3 {
          color: var(--secondary-text);
        }

        h4 {
          color: var(--secondary-text);
          margin-bottom: 0;
        }
      }

    }
  }
}

.join-out-team {
  margin-top: 8rem;
  display: flex;
  column-gap: 2rem;
  background-color: var(--grey-blue);
  border-bottom: 1px var(--secondary-text);
  width: var(--max-width);

  img {
    height: 452px;
  }

  .paragraph {
    color: #fff;
    margin-block: auto;

    h3 {
      font-weight: 600;
      margin-block: 3rem 0;
    }

    h1 {
      line-height: 1.7;
      margin-bottom: 1rem;
    }

    h2 {
      color: var(--on-grey-blue);
    }

    button {
      padding-block: .9rem;
      font-size: 1rem;
      line-height: 1;
      color: var(--grey-blue);
      font-weight: 500;
      margin: 1rem 0;
    }
  }
}


footer {
  background-color: var(--grey-blue);
  width: var(--max-width);
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--on-grey-blue);
}


@media screen and (min-width: 1024px) {
  :host {
    max-width: 1024px;
    margin-inline: auto;
  }


}

@media screen and (max-width: 992px) {
  .our-team {
    width: 100%;

    .team-1,
    .team-3 {
      display: none;
    }

    .team-2 {
      img {
        width: 100vw;
        height: auto;
        border-radius: 0;
      }

      a {
        margin-inline-start: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .customers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 4rem;

    img {
    }
  }

  .global-ecommerce {
    mat-card {
      flex-direction: column;
    }
  }

  .our-solutions {
    .funding-insights {
      flex-wrap: wrap;

      .funding {
        width: 100%;
      }
    }
  }

  .co-founder-description {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .wayflyer-description {
    margin-top: 5rem;
  }

  .our-platforms {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .accelerate-growth {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .geology {
    padding-inline: 1rem;

    h1 {
      width: auto;
    }
  }
}

@media screen and (max-width: 480px) {
  .mp-intro {
    .contact-buttons {
      padding-inline: 2rem;
      width: 100%;
      flex-direction: column;
    }
  }

  .geology {
    > div {
      flex-direction: column;

      > .divider {
        display: none;
      }
    }
  }
}
