<app-header></app-header>

<section class="mp-intro">
  <a routerLink="" class="mp-call-out">
    <button>FREE EBOOK</button>
    <span>Power up your brand with proven strategies from 6 eCommerce legends
      <mat-icon>navigate_next</mat-icon>
    </span>
  </a>

  <h1>
    eCommerce funding,
    <br>
    built for growth
  </h1>
  <p>Providing flexible funding and actionable insights to the world's fastest growing eCommerce businesses</p>
  <div class="contact-buttons">
    <a routerLink=""
       mat-raised-button
       color="primary">Get Funded</a>
    <a class="contact-sales"
       routerLink=""
       mat-raised-button>Contact sales</a>
  </div>
</section>

<section class="our-team">
  <div class="team-1">
    <img src="assets/pics/our-team-1.webp" alt="">
    <img src="assets/pics/our-team-2.webp" alt="">
  </div>
  <div class="team-2">
    <img src="assets/pics/our-team-3.webp" alt="">
    <a routerLink="">
      <span>Read our customer stories</span>
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>
  <div class="team-3">
    <img src="assets/pics/our-team-4.webp" alt="">
    <img src="assets/pics/our-team-5.webp" alt="">
  </div>
</section>

<section class="customers">
  <img src="assets/customers/geologie.svg"
       alt="">
  <img src="assets/customers/bionic-gym.svg"
       alt="">
  <img src="assets/customers/branch.svg"
       alt="">
  <img src="assets/customers/current-body.png"
       alt="">
  <img src="assets/customers/hamama.svg"
       alt="">
</section>

<section class="global-ecommerce">
  <h1>Powering global eCommerce</h1>
  <mat-card>
    <div>
      <p class="title">700m</p>
      <p class="description">Funding provided to eCommerce businesses</p>
    </div>
    <div>
      <p class="title">98%</p>
      <p class="description">Wayflyer customers would recommend us to a friend</p>
    </div>
    <div>
      <p class="title">1,000+
      </p>
      <p class="description">eCommerce businesses accelerated their growth</p>
    </div>
  </mat-card>
</section>

<section class="our-solutions">
  <h1 class="title">OUR SOLUTIONS</h1>
  <h2>Accelerate your growth with funding and insights</h2>
  <h3>By combining flexible funding with powerful insights, we give you everything
    <br>
    you need to accelerate your growth.</h3>

  <div class="funding-insights">
    <div class="funding">
      <mat-icon>payments</mat-icon>
      <p class="title">Funding</p>
      <div class="description">
        Access to the right capital is the biggest problem facing eCommerce businesses. That's why we solved it. We
        provide you with flexible funding up to $20M. Keep ownership, minimise your risk and access all the funding you
        need to grow.
      </div>
      <a routerLink="">
        <span>Learn more</span>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
    <div class="funding">
      <mat-icon>signal_cellular_alt</mat-icon>
      <p class="title">Insights</p>
      <div class="description">We do more than just funding. Our analytics dashboards and team of marketing experts will
        give you the insights you need to acquire more customers and scale faster. What's more? It's free for every
        funded customer.
      </div>
      <a routerLink="">
        <span>Learn more</span>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
  </div>
</section>

<section class="co-founder-description">
  <img src="assets/pics/co-founder.webp"
       alt="" width="384" height="464">
  <div class="description">
    <em>“Wayflyer have made more aggressive growth possible for us.
      Without them, I would’ve had to reconsider our growth goals entirely”
    </em>
    <p class="co-founder-name">Camille Richman</p>
    <p>Co-Founder of Hamama</p>
  </div>
</section>

<section class="wayflyer-description">
  <h1 class="mat-display-1">How does Wayflyer work?</h1>
  <h2>Connect your platforms to access funding and actionable insights</h2>
</section>

<section class="our-platforms">
  <div class="paragraphs">
    <h1>Connect your platforms</h1>
    <h2>
      Securely connect your platforms to access funding offers.
      <br>
      Connect in minutes and have offers within hours.
    </h2>
    <h2>Shopping and payment platforms</h2>
    <h3>Connect your Shopping Platform (Shopify, WooCommerce, Magento, Amazon, BigCommerce or Stripe)
      so we can generate funding offers for you.</h3>
    <h2>Marketing and analytics platforms</h2>
    <h3>Connect Facebook Ads, Google Ads and Google Analytics to unlock better funding offers and
      to get the most out of Wayflyer Insights.</h3>
    <h2>Bank and management accounts</h2>
    <h3>Automatically connect your bank account using Plaid or confidentially share copies of your bank
      statements. We use this to approve your funding request.</h3>
  </div>
  <img src="assets/pics/connect-to-your-platforms.svg" alt="">
</section>

<section class="accelerate-growth our-platforms">
  <img src="assets/pics/accelerate-your-growth.svg" alt="">
  <div class="paragraphs">
    <h1>Accelerate your growth</h1>
    <h2>
      Use our combination of funding and insights to invest in your business and drive your growth.
    </h2>
    <h2>Flexible funding</h2>
    <h3>Choose the funding option that best suits your needs. Invest in inventory,
      marketing or other initiatives to grow your business.</h3>
    <h2>Actionable insights to help you grow faster</h2>
    <h3>Once funded, you'll get free access to our analytics dashboards and a dedicated team of experts.
      Get actionable insights to beat your competition and grow faster.</h3>
  </div>
</section>

<section class="geology">
  <img src="assets/pics/geologie.svg" alt="">
  <h1>
    “Wayflyer know us, they understand us, they’re comfortable with our cycles and how we’re using the capital.
    They’re super-friendly and they’re flexible.
    All of that is very difficult to get elsewhere.”
  </h1>
  <div>
    <img src="assets/pics/ceo-avatar.webp" alt="">
    <h3 class="author">Nick Allen</h3>
    <h3 class="divider">/</h3>
    <h3 class="co-founder">Co-Founder & CEO of Geologie</h3>
  </div>
</section>

<section class="latest-updates">
  <h1 class="mat-display-1">Latest Updates</h1>
  <h2>Read the latest news and announcements from Wayflyer.</h2>
  <div class="collections">
    <collection image="assets/pics/friday-sale.webp"
                title="Marketing"
                h2="Black Friday/Cyber Monday 2021: Data from 2,500+ eCommerce brands and $219m in revenue"
                h3="How did your business perform across Black Friday/Cyber Monday?
                    We analyzed data from over 2,500 eCommerce businesses to help you benchmark
                    your results and look ahead at the trends that might shape 2022."
                h4="December 6, 2021 • 10 min read"
    ></collection>
    <collection image="assets/pics/spain-netherlands.webp"
                title="Marketing"
                h2="Black Friday/Cyber Monday 2021: Data from 2,500+ eCommerce brands and $219m in revenue"
                h3="How did your business perform across Black Friday/Cyber Monday?
                    We analyzed data from over 2,500 eCommerce businesses to help you benchmark
                    your results and look ahead at the trends that might shape 2022."
                h4="December 6, 2021 • 10 min read"
    ></collection>
    <collection image="assets/pics/friday-warning.webp"
                title="Marketing"
                h2="Black Friday/Cyber Monday 2021: Data from 2,500+ eCommerce brands and $219m in revenue"
                h3="How did your business perform across Black Friday/Cyber Monday?
                    We analyzed data from over 2,500 eCommerce businesses to help you benchmark
                    your results and look ahead at the trends that might shape 2022."
                h4="December 6, 2021 • 10 min read"
    ></collection>
  </div>
</section>

<section class="join-our-team">
  <img src="assets/pics/join-our-team.webp" alt="">
  <div class="paragraph">
    <h3>WE ARE HIRING</h3>
    <h1 class="mat-display-1">Want to join our team?</h1>
    <h2>We’re on a mission to help eCommerce stores, worldwide,
      reach their potential. And we’re always looking for the
      right people to make that happen.
    </h2>
    <button mat-flat-button>Visit careers page</button>
  </div>
</section>

<footer>
  <app-footer></app-footer>
</footer>

<button *ngIf="showFAB"
        class="floating-action-button"
        (click)="scrollToTop()"
        mat-fab
        color="primary">
  <mat-icon>arrow_upward</mat-icon>
</button>
