<app-header></app-header>

<section class="mp-intro">
  <a routerLink="" class="mp-call-out">
    <button>FREE EBOOK</button>
    <span>Power up your brand with proven strategies from 6 eCommerce legends</span>
    <mat-icon>navigate_next</mat-icon>
  </a>

  <h1>
    eCommerce funding,
    <br>
    built for growth
  </h1>
  <p>Providing flexible funding and actionable insights to the world's fastest growing eCommerce businesses</p>
  <div class="contact-buttons">
    <a routerLink=""
       mat-raised-button
       color="primary">Get Funded</a>
    <a class="contact-sales"
       routerLink=""
       mat-raised-button>Contact sales</a>
  </div>
</section>

<section class="our-team">
  <div class="team-1">
    <img src="assets/pics/our-team-1.jpg" alt="">
    <img src="assets/pics/our-team-2.jpg" alt="">
  </div>
  <div class="team-2">
    <img src="assets/pics/our-team-3.jpg" alt="">
    <a routerLink="">
      <span>Read our customer stories</span>
      <mat-icon>navigate_next</mat-icon>
    </a>
  </div>
  <div class="team-3">
    <img src="assets/pics/our-team-4.jpg" alt="">
    <img src="assets/pics/our-team-5.jpg" alt="">
  </div>
</section>

<section class="customers">
  <img src="https://assets-global.website-files.com/61323681dfd4c23ae4a443e3/6144443978cf264d6f84d82a_Geologie.svg"
       alt="">
  <img src="https://assets-global.website-files.com/61323681dfd4c23ae4a443e3/6144472fc8ce49f4ffe9b4b8_Bionic%20gym.svg"
       alt="">
  <img src="https://assets-global.website-files.com/61323681dfd4c23ae4a443e3/6144473c3f9345b6f26fc96d_Branch.svg"
       alt="">
  <img src="https://assets-global.website-files.com/61323681dfd4c23ae4a443e3/6155df22121b514f80e698fa_tommi%20skin.svg"
       alt="">
  <img src="https://assets-global.website-files.com/61323681dfd4c23ae4a443e3/614447506bf37d2004e62a5a_Hamama.svg"
       alt="">
</section>

<section class="global-ecommerce">
  <h1>Powering global eCommerce</h1>
  <mat-card>
    <div>
      <p class="title">700m</p>
      <p class="description">Funding provided to eCommerce businesses</p>
    </div>
    <div>
      <p class="title">98%</p>
      <p class="description">Wayflyer customers would recommend us to a friend</p>
    </div>
    <div>
      <p class="title">1,000+
      </p>
      <p class="description">eCommerce businesses accelerated their growth</p>
    </div>
  </mat-card>
</section>

<section class="our-solutions">
  <h1 class="title">OUR SOLUTIONS</h1>
  <h2>Accelerate your growth with funding and insights</h2>
  <h3>By combining flexible funding with powerful insights, we give you everything
    <br>
    you need to accelerate your growth.</h3>

  <div class="funding-insights">
    <div class="funding">
      <mat-icon>payments</mat-icon>
      <p class="title">Funding</p>
      <div class="description">
        Access to the right capital is the biggest problem facing eCommerce businesses. That's why we solved it. We
        provide you with flexible funding up to $20M. Keep ownership, minimise your risk and access all the funding you
        need to grow.
      </div>
      <a routerLink="">
        <span>Learn more</span>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
    <div class="funding">
      <mat-icon>signal_cellular_alt</mat-icon>
      <p class="title">Insights</p>
      <div class="description">We do more than just funding. Our analytics dashboards and team of marketing experts will
        give you the insights you need to acquire more customers and scale faster. What's more? It's free for every
        funded customer.
      </div>
      <a routerLink="">
        <span>Learn more</span>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </div>
  </div>
</section>

<section class="co-founder-description">
  <img src="assets/pics/co-founder.jpg"
       alt="" width="384" height="464">
  <div class="description">
    <blockquote>Wayflyer have made more aggressive growth possible for us. Without them, I would’ve had to reconsider
      our
      growth goals entirely
    </blockquote>
    <p>Camille Richman</p>
    <p>Co-Founder of Hamama</p>
  </div>
</section>
