<app-header></app-header>

<section class="mp-intro">
  <a routerLink="" class="mp-call-out">
    <button>FREE EBOOK</button>
    <span>Power up your brand with proven strategies from 6 eCommerce legends</span>
    <mat-icon>navigate_next</mat-icon>
  </a>

  <h1>
    eCommerce funding,
    <br>
    built for growth
  </h1>
  <p>Providing flexible funding and actionable insights to the world's fastest growing eCommerce businesses</p>
  <div class="contact-buttons">
    <a href="" mat-flat-button color="primary">Get Funded</a>
    <a href="" mat-stroked-button color="primary">Contact sales</a>
  </div>
</section>
