@import "src/styles/theme";
@import "src/styles/vars";

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border-style: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

