@import "src/styles/theme";
@import "src/styles/vars";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

button {
  border-style: none;
}


hr.divider {
  border: 0;
  border-top: 1px solid var(--secondary-text);
  width: 100%;
  margin-block: 1rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

//blockquote {
//  &:before {
//    content: '\201C';
//  }
//
//  &:after {
//    content: '\201D';
//  }
//}

a.link-shell {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

:target {
  outline: 5px red;
  outline-offset: 5px;
}
